# Bytecode files #
##################
__pycache__/
*.py[cod]
*$py.class

# Data files #
##################
data
*.dat
*.csv
g1-data/*.csv
g1-data/stepping/*.csv

# Other files #
##################
*.vscode

# Setup files #
##################
*.bash
