# Bytecode files #
##################
__pycache__/
*.py[cod]
*$py.class

# Data files #
##################
data
*.dat
*.csv

# Other files #
##################
*.vscode

# Setup files #
##################
*.bash
